header{
    background: linear-gradient(to right, #F4F9E2 50%, white 50%);
  }
.container__header{
    position: relative;
    width: 1440px;
    background: linear-gradient(to right, $title__color 76%, white 23%);
    background-size: contain;
    // padding: 30px 130px 75px 180px;
    margin: 0 auto;
  }
  .logo {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-decoration: none;
    color: #62D0DF;
  }
  .top__menu{
    padding-top: 27px;
    padding-left: 180px;
    width: 1130px;
    display: flex;
    justify-content: space-between;
  
  }
  .nav{
    display: flex;
    list-style-type: none;
    padding-top: 10px;
    .nav__link{
      margin-right: 28px;
      color: $text__color;
      font-family: $mainFont;
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      transition: all 0.3s ease;
      &:hover{
        padding-bottom: 1px;
        border-bottom: 1px solid $text__color;
      }
    }
  }
  .top__btn{
    font-family: $mainFont;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    background-color: #62D0DF;
    border-radius: 50px;
    transition: all 0.5s ease;
    z-index: 2;
    &:hover{
      background-color: #F9B640;
    }
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .offer{
    padding-left: 180px;
    padding-bottom: 75px;
    width: 480px;
    & .logo{
    padding-top: 190px;
    }
    & .title{
      padding-top: 50px;
      color: $text__color;
      font-size: 48px;
      line-height: 53px;
      font-weight: 900;
      letter-spacing: -0.035em;
    }
    & .text {
      color: $text__color;
      font-size: 24px;
      font-weight: 400;
      line-height: 42px;
      padding: 85px 0 63px 0;
    }
    & .btn{
      display: inline-block;
      color: $white;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.1em;
      padding: 0.6em 1.9em;
      background-color: #F9B640;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.5s ease;
      &:hover{
        background-color: #62D0DF;
      }
    }
    & .btn__right{
        margin-left: 35px;
      }
  }
  .logo__img{
    position: absolute;
    z-index: 1;
    right: -130px;
    top: -74px;
  }